<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="pageTitle">
        <a href="/" class="bg-white rounded text-dark p-1 text-decoration-none">The Tech Blog</a>
      </h1>
      <nav>
        <a href="/login">Login</a>
      </nav>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

</body>
  <script src="/javascript/logout.js"></script>

</html>